@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// Variables for colors and dimensions
$background-color: #f5f5f5;
$border-color: #ddd;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$canvas-shadow-color: rgba(0, 0, 0, 0.15);
$container-width: 800px;

#pdf-container {
  font: "rubik";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px $box-shadow-color;
  max-width: $container-width;
  margin: 20px auto;

  canvas.page {
    margin: 15px 0;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 2px 6px $canvas-shadow-color;
  }

  #pdf-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      margin: 0 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#007bff, 10%);
      }
    }

    #current-page,
    #total-pages {
      font-weight: bold;
      margin: 0 5px;
    }
  }
}
